name: Birthday Cron Job (Testing)

on:
  schedule:
    - cron: "*/1 * * * *"   # every 1 minute
  workflow_dispatch:

jobs:
  check-birthdays:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      # Automatically installs Playwright + dependencies
      - name: Install Playwright Browsers
        uses: microsoft/playwright-github-action@v1

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "16"

      - name: Install NPM dependencies
        run: npm install

      - name: Run birthday script
        run: node index.js
